
<section class="bg-primary" id="about">
    <div class="container-fluid">
        <img class="img-responsive" src="\img\col_facebook.jpg" alt="">

        <div class="row">
            <div class="col-lg-8 col-sm-6 col-lg-offset-2 text-center">
                <h2 class="section-heading">ABOUT ME</h2>
                <hr class="light">
                <p class="text-faded"> Collins Opoku-Baah is an optometrist and vision scientist with strong passion and 
                    interest in data science and analytics. As an optometrist and vision scientist, I bring a unique blend of expertise, 
                    experience, passion to the field of ophthalmology and eye health. With experience in designing and implementation of 
                    diagnostic tests for vision conditions in conventional and augmented reality platforms, I am 
                    committed to using my skills to drive innovation and improve patient outcomes. I have a proven track 
                    record of success in collaborating with cross-functional teams, analyzing and interpreting data, and 
                    presenting research findings at scientific conferences and to stakeholders. 
                </p>
                <p class="text-faded">With a strong background in research and a passion for data analytics, I am a results-driven professional 
                    with a unique skill set that includes expertise in MATLAB programming, Python, and a range of data analysis 
                    tools. I have experience in research study design and protocol development, as well as proficiency in statistical 
                    analysis, A/B testing, and modeling. My proficiency in SQL, Python and Tableau/PowerBI along with 
                    my experience in machine learning, make me well-equipped to turn data into actionable insights. I am committed 
                    to staying at the forefront of the latest developments in my field and constantly seek to expand my knowledge 
                    and skills through projects on GitHub. I am confident in my ability to bring value to any organization 
                    looking to develop algorithms and transform data into meaningful insights and drive positive outcomes."
                </p>

                    <a href="\docs\resume_Collins_4.pdf" class="btn btn-default btn-xl">RESUME</a>
               
                    <a href="https://scholar.google.com/citations?user=atF3bucAAAAJ&hl=en" class="btn btn-default btn-xl">PUBLICATIONS</a>
           
            </div>
        </div>
    </div>
</section>

