<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h4>I am</h4>
            <h1 style="font-size: 45px;">Collins OPOKU-BAAH OD, PhD</h1>
            <hr>
            <p>Optometrist | Vision Scientist | Data Scientist</p>
            <p>My passion is to leverage my skills and expertise and love for data to create and improve products that make users happy and enhance their quality of life.</p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">MY PROJECTS</a>
        </div>
    </div>
</header>
