<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Portfolio Projects</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/copokubaah/COVID_DataVisualization/blob/main/README.md" class="portfolio-box">
                    <img src="img\portfolio\MAPusatotal-01.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DATA VISUALIZATION
                            </div>
                            <div class="project-name">
                                Custom animated time series visualization of COVID-19 patterns across the World
                                    <div class="project-sub-name">
                                        [EDA, python] 
                                    </div>  
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/copokubaah/FIFAWorldCupHistory#readme" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               DATA ANALYTICS
                            </div>
                            <div class="project-name">
                                Insights into the historic trends and patterns of FIFA World Cup Tournament
                                    <div class="project-sub-name">
                                        [web scrapping, EDA, python, Tableau] 
                                    </div>  
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/copokubaah/copokubaah-ClusteringSimilarNeighborhoods#readme" class="portfolio-box">
                    <img src="img\portfolio\foliummaps.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               UNSUPERVISED MACHINE LEARNING
                            </div>
                            <div class="project-name">
                                Using clustering approach to find similar neighbourds between two big cities
                                    <div class="project-sub-name">
                                        [web scraping, python, folium maps, machine learning] 
                                    </div>  
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://public.tableau.com/views/Sample_SuperStore_16755011799130/SalesBoard?:language=en-US&:display_count=n&:origin=viz_share_link" class="portfolio-box">
                    <img src="img\portfolio\SalesBoard.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               DATA VISUALIZATION
                            </div>
                            <div class="project-name">
                                Visualizing Sales Trends Using the SuperStore Sales Data
                                    <div class="project-sub-name">
                                        [Tableau] 
                                    </div>  
                            </div>
                        </div>
                    </div>
                </a>
            </div>
          
        </div>
    </div>
</section>
